@page
@model CarModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="inner cover">
    @{
            <div class="col-sm-4">
                <h1>@Model.Car.model</h1>
                <h2>@Model.Car.manufacturer</h2>
                <h2>@Model.Car.year</h2>
                <h2>@Model.Car.colour</h2>
                <p>@Model.Car.description</p>

            </div>

        
    }
</div>