@page
@model CarsModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="inner cover">
    @{
        <button type="submit" asp-page-handler="All">Get All</button>


        //<form asp-page-handler="Type" asp-action="post" >
        //    <label>Choose a Manufacturer:</label>

        //    <select  id="Manufacturer">
        //        <option value="volvo">Volvo</option>
        //        <option value="saab" >Saab</option>
        //        <option value="mercedes">Mercedes</option>
        //        <option value="audi">Audi</option>
        //    </select>
        //    <button >Submit</button>
        //</form>
        <br />        <br />

        foreach (var car in Model.CarsIE)
        {
            <div class="col-sm-4 border " style="border-style: solid; padding:5px; background-color:#ffcc00">
                <h1>Model: @car.model</h1>
                <h2>Manufacturer: @car.manufacturer</h2>
                <h2>Year: @car.year</h2>
                <h2>Colour: @car.colour</h2>
                <button class="btn btn-primary btn-lg" asp-page="./car" asp-route-id="@car.Id"></button>

            </div>

        }
    }
</div>